
   
   .headline{

    font-family: 'Inconsolata';
    color: black;
    font-size: 1.75rem;
    text-decoration: none;
   }


a{
    text-decoration: none;
}  

.navbar{
    font-family: 'Inconsolata';
    color: black;
    font-size: 1.75rem;
    text-decoration: none;
}

.nav-item{
    margin-left: 100px;
    padding-top: 10px;
    
    .nav-link{
        font-family: 'Inconsolata';
    color:black;
    font-size: 1.75rem;
    position:relative;
    }

}
